# Data Types:

# Numbers

In [1]:
1 + 1

2

In [2]:
1 * 2

2

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

# variable Assignment

In [8]:
# can not start with number or special characters

In [9]:
x = 2
y = 3

In [10]:
x

2

In [11]:
z = x + y

In [12]:
print(z)

5

# Strings

In [13]:
'single quotes'

'single quotes'

In [14]:
"double quotes"

'double quotes'

In [15]:
"wrap 'both' the quotes"

"wrap 'both' the quotes"

# Printing

In [16]:
x = 'hello'

In [17]:
x

'hello'

In [18]:
print(x)

hello

In [19]:
num = 31
name = 'Niranjan Agaram'

In [20]:
print('My number is: {one}, and my name is: {two}'.format(one = num, two=name))

My number is: 31, and my name is: Niranjan Agaram

In [21]:
print('My number is : {}, and my name is :{}'.format(num,name))

My number is : 31, and my name is :Niranjan Agaram

# Lists

In [22]:
[1,2,3]

[1, 2, 3]

In [23]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [24]:
my_list = ['a','b','c']

In [25]:
my_list.append('d')

In [26]:
my_list

['a', 'b', 'c', 'd']

In [27]:
my_list[0]

'a'

In [28]:
my_list[1:]

['b', 'c', 'd']

In [29]:
my_list[:1]

['a']

In [30]:
my_list[0] ='New'

In [31]:
my_list

['New', 'b', 'c', 'd']

In [32]:
nested_list = [1,2,3,[4,5,['target']]]

In [33]:
nested_list[3][2]

['target']

In [34]:
nested_list[3][2][0]

'target'

# Dictionaries

In [35]:
d = {'key1':'item1','key2':'item2'}

In [36]:
d

{'key1': 'item1', 'key2': 'item2'}

In [37]:
d['key1']

'item1'

# Booleans

In [38]:
True

True

In [39]:
False

False

# Tuples

In [40]:
t =(1,2,3)

In [41]:
t[0]

1

In [42]:
# tuples are immuatable 
# the following shows we cannot add an item in to tuple
t[0] ='New'

TypeError: 'tuple' object does not support item assignment

# Sets

In [43]:
{1,2,3}

{1, 2, 3}

In [44]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

# Comparison Operators

In [45]:
1 > 2

False

In [46]:
1 < 2

True

In [47]:
1 >= 1

True

In [48]:
1 == 1

True

In [49]:
'hi' == 'bye'

False

# Logic Operators

In [50]:
(1 > 2) and (2 < 3)

False

In [51]:
(1 < 2) or (2 < 3)

True

In [52]:
(1 == 2) or (2 == 3) or (4 ==4)

True

# if, elif, else statements

In [53]:
if 1 < 2:
    print('Yep!')

Yep!

In [54]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [55]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [56]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('last')

middle

#  for loops

In [57]:
seq = [1,2,3,4,5]

In [58]:
for item in seq:
     print(item)

1
2
3
4
5

In [59]:
for item in seq:
    print('Yep!')

Yep!
Yep!
Yep!
Yep!
Yep!

In [60]:
for item in seq:
    print(item+item)

2
4
6
8
10

# while loops

In [61]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

#  range()

In [62]:
range(3)

range(0, 3)

In [63]:
for i in range(3):
    print(i)

0
1
2

In [64]:
list(range(5))

[0, 1, 2, 3, 4]

# list comprehension

In [65]:
x = [1,2,3,4]

In [66]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

# functions

In [67]:
def my_func(c = 'cccc'):
    """
    Doc string goes here.
    """
    print(c)

In [68]:
my_func

In [69]:
my_func()

cccc

In [70]:
my_func('default')

default

In [71]:
def square(x):
    return x**2

In [72]:
out = square(2)

In [73]:
print(out)

4

# lambda expressions

In [74]:
def times2(var):
    return var*2

In [75]:
times2(2)

4

In [76]:
lambda var: var*2

#  map and filter

In [77]:
seq = [1,2,3,4,5]

In [78]:
map(times2, seq)

In [79]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [80]:
filter(lambda item: item%2 == 0, seq)

In [81]:
list(filter(lambda item: item%2 == 0, seq))

[2, 4]

# methods

In [82]:
st = 'hello my name is Niranjan Agaram'

In [83]:
st.lower()

'hello my name is niranjan agaram'

In [84]:
st.upper()

'HELLO MY NAME IS NIRANJAN AGARAM'

In [85]:
st.split()

['hello', 'my', 'name', 'is', 'Niranjan', 'Agaram']

In [86]:
tweet = 'Programming all the time! #Python'

In [87]:
tweet

'Programming all the time! #Python'

In [88]:
tweet.split('#')

['Programming all the time! ', 'Python']

In [89]:
tweet.split('#')[1]

'Python'

In [90]:
d

{'key1': 'item1', 'key2': 'item2'}

In [91]:
d.keys()

dict_keys(['key1', 'key2'])

In [92]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [93]:
lst = [1,2,3]

In [94]:
lst.pop()

3

In [95]:
lst

[1, 2]

In [96]:
'x' in [1,2,3]

False

In [97]:
'x' in ['x','y','z']

True